<template name="gameOverview">
    Pussy punten worden los bijgehouden van de normale punten. Het aantal pussy punten wordt bijgehouden bij het spelers overzicht. Er moet zelf bepaald worden of er bij 3 punten een extra punt wordt toegewezen bij een speler.
    <br>
    <br>
    <table id="tablePreview" class="table table-striped table-borderless">
        <thead>
        <tr>
            <th>Naam</th>
            <th>Status</th>
            <th>Punten</th>
            <th>Plus</th>
            <th>Min</th>
            <th>Pussy Punten</th>
        </tr>
        </thead>
        <tbody>
        {{#each players}}
            <tr class="{{#if loser}} table-warning {{/if}} {{#if pelt}} table-pelt {{/if}}">
                <td>{{ this.name }}</td>
                <td>{{ this.status }}</td>
                <td>{{ this.points }}</td>
                <td><button id="plusPoint">+</button></td>
                <td><button id="minusPoint">-</button></td>
                <td>{{ this.pussyPoints }}</td>
                <td><button id="plusPussyPoint">+</button></td>
                <td><button id="minusPussyPoint">-</button></td>
            </tr>
        {{/each}}
        </tbody>
    </table>


</template>