<template name="newPlayer">
    <div class="new-element-container">
        <i class="fa fa-close"></i>
        <h3>Nieuwe Game:</h3>
        {{#autoForm collection=playerCollection id="insertContactForm" type="insert" class="new-payment-form"}}
            {{> afQuickField name='name'}}
            {{> afQuickField name='amountWins'}}
            {{> afQuickField name='amountPussyPoints'}}
            <button type="submit" class="btn btn-primary insert">Insert</button>
        {{/autoForm}}
    </div>
</template>